body {
  margin: 0;
  background: #000000;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  color: #000000;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    background: black;
}

nav ul {
    list-style: none;
    display: flex;
    padding-right: 30px;
    margin-left: auto;
}

nav li {
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    animation: fadeInUp 0.6s ease forwards;
    transition: background-color 0.3s ease;
}

.cta{
      background: #f39c4a;

}

nav a {
    position: relative;
    padding: 1px 30px 1px 20px;
    background: #1e1e1e;
    color: white;
    text-decoration: none;
}


nav a:hover::after {
    transform: scaleX(1);
}


nav a::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%;
    background: inherit;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

nav a::before {
    left: -25px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.burger-menu{
    display: none;
    margin-left: auto;
}

.SideBar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0%;
    padding: 0%;
    height: 30vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(41, 41, 41, 0.719);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.SideBar li {
    width: 100%;
}

.SideBar a {
    width: 100%;
}

.FirstContainer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FirstContainerText1 p {
    margin: 0;
    line-height: 1; 
    font-weight: bolder;
}

.FirstContainerText1 {
    font-size: 7rem;
    margin-top: 10%;
}

.FirstContainerText1 .MainText1 {
    color:#f39c4a;
}

.FirstContainerText1 .MainText2 {
    color:#ffffff;
}

.FirstContainerText2 p {
    font-size: 2rem;
    margin-top: 22%;
    font-weight: lighter;
    color: white;
}

.bottom-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 1px;
    margin-top: 1%;
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.socials img{
    width: 3vh;
}

.bottom-bar .section {
    background: #2E3034;
    padding: 20px 30px;
    position: relative;
}

.section::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%;
    background: inherit;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.section.date::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 100%;
    background: inherit;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.cta-button {
    background: #F39C4A;
    padding: 25px 6px;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: lighter;
}

.cta-button::before,
.cta-button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 25px;
    height: 100%;
    background: inherit;
}

.cta-button::before {
    left: -25px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.cta-button::after {
    right: -25px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.SecondContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}

.SecondContainerBG {
    position: absolute;
    inset: 0;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-color: #f39c4a;
    z-index: 1;
}

.SecondContainerBG::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
}

.SecondContainerTextBlock {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.SecondContainerTextBlock .t1 {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}

.SecondContainerTextBlock .t2 {
    font-size: 4rem;
    font-weight: 900;
    color: #ffffff;
}

.SecondContainerTextBlock .t3 {
    font-size: 9rem;
    font-weight: 900;
    color: #FFFFFF;
}

.SecondContainerTextBlock .t4 {
    font-size: 1rem;
    font-weight: 300;
    color: #FFFFFF;
    width: 90%;
}

.SecondContainerIMGBlock {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.SecondContainerIMGBlock img {
    height: 70vh;
    width: auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;

}

.footerIMG {
    margin-top: 5%;
}

.footerText {
    margin-top: 5%;
    color: white;
}

.footerText p {
    margin: 0;
    line-height: 1; 
    font-weight: lighter;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(15px);}
    to {opacity: 1; transform: translateY(0);}
}

@media (max-width: 2560px) {
 .body {
        font-size: large;

    }
}
@media (max-width: 1920px) {
  .body {
        font-size: medium;

    }
}


@media (max-width: 768px) {
    .hideMainBar{
        display: none;
    }
    .burger-menu{
    display: block;
    }
}