body {
  margin: 0;
  background: #000000;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  color: #000000;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
*   {
    box-sizing: border-box;
}
nav {
  
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    background: black;
}

nav ul {
    list-style: none;
    display: flex;
    padding-right: 30px;
    margin-left: auto;
    
}

nav li {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeInUp 0.6s ease forwards;
    transition: background-color 0.3s ease;
}

.cta{
      background: #f39c4a;

}

nav a {
    position: relative;
    padding: 15px 30px 15px 20px;
    background: #1e1e1e;
    color: white;
    text-decoration: none;
    transition: background 0.25s ease, color 0.25s ease;
}


nav a:hover {
    background: #4da3ff;
    color: #000;
}


nav a::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%;
    background: inherit;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 100%;
    background: inherit;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.burger-menu{
    display: none;
    margin-left: auto;
}

.SideBar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0%;
    padding: 0%;
    height: 30vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(41, 41, 41, 0.719);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.SideBar li {
    width: 100%;
}

.SideBar a {
    width: 100%;
}

.FirstContainer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FirstContainerText1 p {
    margin: 0;
    line-height: 1; 
    font-weight: bolder;
}

.FirstContainerText1 {
    font-size: 7rem;
    margin-top: 10%;
}

.FirstContainerText1 .MainText1 {
    color:#f39c4a;
}

.FirstContainerText1 .MainText2 {
    color:#ffffff;
}

.FirstContainerText2 p {
    font-size: 2rem;
    margin-top: 22%;
    font-weight: lighter;
    color: white;
}

.bottom-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 1px;
    margin-top: 1%;
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.socials img{
    width: 5vh;
    max-width: 50px;
    height: auto;
}

.bottom-bar .section {
    background: #2E3034;
    padding: 20px 30px;
    position: relative;
    margin: 5px;
    min-width: 150px;
}

.section::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%;
    background: inherit;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}


.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 100%;
    background: inherit;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.cta-button {
    background: #F39C4A;
    padding: 25px 6px;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    font-weight: lighter;
    transition: background 0.3s ease, color 0.3s ease;
}

.cta-button::before,
.cta-button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 25px;
    height: 100%;
    background: inherit;
    transition: background 0.3s ease;
}

.cta-button::before {
    left: -25px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.cta-button::after {
    right: -25px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.cta-button:hover {
    background: #4da3ff;
}

.SecondContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    height: 65vh;
}

.SecondContainerBG {
    position: absolute;
    inset: 0;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-color: #f39c4a;
    z-index: 1;
}

.SecondContainerBG::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
}

.SecondContainerTextBlock {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-bottom: 15vh;
}

.SecondContainerTextBlock .t1 {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}

.SecondContainerTextBlock .t2 {
    font-size: 4rem;
    font-weight: 900;
    color: #ffffff;
}

.SecondContainerTextBlock .t3 {
    font-size: 9rem;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 0.7;
}

.SecondContainerTextBlock .t4 {
    font-size: 1rem;
    font-weight: 300;
    color: #FFFFFF;
    width: 90%;
    margin-top: 4vh;
}

.SecondContainerIMGBlock {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.SecondContainerIMGBlock img {
    height: 60vh;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;

}

.footerIMG {
    margin-top: 5%;
}

.footerLink {
    display: flex;
    gap: 24px;
    margin-top: 2%;
}

.footerText {
    margin-top: 2%;
    color: white;
    width: 50%;
}

.footerText p {
    margin: 0;
    line-height: 1; 
    font-weight: lighter;
}

.footerLink a {
    color: #ffffff;     
    text-decoration: none;  
    position: relative;
    font-weight: 50
}

.footerLink a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s ease;
}

.footerLink a:hover::after {
    width: 100%;
}

.footerIMG,
.socials {
    display: flex;
    gap: 18px;
}

.footerIMG img,
.socials img {
    transition: filter 0.25s ease, transform 0.25s ease, opacity 0.25s ease;
}

.footerIMG a:hover img,
.socials a:hover img {
    transform: scale(1.15);
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7); 
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #1e1e1e;
  color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

.modal-content form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.modal-content form button {
  padding: 10px 10px;
  background: #F39C4A;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.modal-content form button:hover {
  background: #FF6F61;
}



@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(15px);}
    to {opacity: 1; transform: translateY(0);}
}

@media (max-width: 2560px) {
 .body {
        font-size: large;

    }
}
@media (max-width: 1622px) {
  .body {
        font-size: medium;

    }
    .bottom-bar {
        flex-direction: column;
        font-size: 1.5rem;
    }
    .section {
        width: 90%; 
        margin: 5px 0;
    }
    
    .socials img {
        width: 40px;
    }
}

@media (max-width: 1400px) {
    .SecondContainer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .SecondContainerTextBlock {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .SecondContainerIMGBlock img {
        height: 40vh;
    }

}


@media (max-width: 987px) {
    .hideMainBar{
        display: none;
    }
    .burger-menu{
    display: block;
    }
    nav a::before {
        background: none;
    }
}